<div class="container">
	<div class="navbar">
		<div class="logo">Chatbot</div>
		<div class="nav-items">
			<div class="chat-index">
				<span class="chat-title">Chatbot 1</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="chat-index">
				<span class="chat-title">Chatbot 2</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="chat-index">
				<span class="chat-title">Chatbot 3</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="chat-index">
				<span class="chat-title">Chatbot 3</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="chat-index">
				<span class="chat-title">Chatbot 3</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="chat-index">
				<span class="chat-title">Chatbot 3</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="chat-index">
				<span class="chat-title">Chatbot 3</span>
				<button class="chat-delete-btn" id="delete-chat-btn">
					<i class="fas fa-trash"></i>
				</button>
			</div>
			<div class="add-chat">+</div>
		</div>
	</div>
	<div class="chat-container">
		<div class="chat-messages">
			<div class="message"><div class="user-message">Hello</div></div>
			<div class="message">
				<div class="bot-message">Bot Response</div>
			</div>
		</div>
		<div class="chat-input">
			<input
				type="text"
				id="user-input"
				placeholder="Type your message..."
			/>
			<button id="send-btn">Send</button>
		</div>
	</div>
</div>
<script src="script.js"></script>
