<div class="container">
	<div class="navbar">
		<div class="logo">ChatBot 3000</div>
	</div>
	<div class="chat-container">
		<div class="chat-messages">
			<div class="message">
				<div class="bot-message">
					Hello <span style="font-weight: bold;" >{{ username | capitalize }}</span>, How can I help you for today ?
				</div>
			</div>
		<div *ngFor="let message of messages">
			<app-messages [text]="message.text" [date]="message.date" [owner]="message.userOwner" ></app-messages>
		</div>
	</div>

	<div class="chat-input">
		<div class="error-message" [class.show]="showError" [class.hidden]="!showError">
			🖕 Write something first dumbass ?
		</div>
		<label class="search-label">
				<input
					[(ngModel)]="textInput"
					(keyup)="onKey($event)"
					type="text"
					name="text"
					class="input"
					id="user-input"
					placeholder="Type here..."
					required=""
				/>
				<button id="send-btn">
					<i (click)="sendMessage()" class="fas fa-paper-plane"></i>
				</button>
			</label>
		</div>
	</div>
</div>
