.container {
	display: flex;
	height: 100vh;
	background-color: #444654;
}

.navbar {
	background-color: #202123;
	color: white;
	width: 250px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.chat-title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 10px;
}

.chat-index {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #202123;
	color: #fff;
	width: 100%;
}

.chat-delete-btn {
	background: none;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.nav-items {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.nav-item {
	padding: 10px 0;
	cursor: pointer;
}

.nav-item.active {
	font-weight: bold;
}

.add-chat {
	background-color: #ccc;
	color: #333;
	font-size: 24px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	margin-top: 10px;
	cursor: pointer;
}

.delete-chat {
	font-size: 20px;
	margin-top: auto;
	cursor: pointer;
}

.chat-container {
	flex: 1;
	padding: 15px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.chat-input button {
	background-color: #fa541c;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	margin-left: 10px;
	cursor: pointer;
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2); /* Add box-shadow */
}

.chat-messages::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #444654;
}

.chat-messages::-webkit-scrollbar {
	width: 8px;
	background-color: #444654;
}

.chat-messages::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
	background-color: #ec8b6a;
}

.search-label {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	border: 1px solid transparent;
	border-radius: 12px;
	overflow: hidden;
	background: #3e404b;
	color: white;
	padding: 9px;
	cursor: text;
	border-color: rgb(45, 53, 53);
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2); /* Add box-shadow */
}

.search-label:hover {
	border-color: gray;
}

.search-label:focus-within {
	background: #3e404b;
	border-color: rgb(183, 181, 181);
	color: white;
}

.search-label input {
	outline: none;
	width: 100%;
	border: none;
	background: none;
	// color: rgb(162, 162, 162);
	color: white;
}

.search-label input:focus + .slash-icon,
.search-label input:valid + .slash-icon {
	display: none;
}

.search-label input:valid ~ .search-icon {
	display: block;
}

.search-label input:valid {
	width: calc(100% - 22px);
	transform: translateX(20px);
}

.error-message {
	// position: relative;
	opacity: 0;
	transform: translateY(0px);
	transition: opacity 0.3s ease-in, transform 0.3s ease-out;
	background-color: #3e404b;
	color: #fff;
	height: 0px;
	margin: 0px;
	padding: 0px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	&.show {
		height: auto;
		margin: 20px;
		padding: 10px;
		display: block;
		opacity: 1;
		transform: translateY(0);
	}
	&.hidden {
		display: block;
		opacity: 0;
	}
	}
