<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Welcome</title>
	</head>
	<body>
		<div class="background">
			<div class="form-card">
				<div class="form-title">Welcome 👋</div>
				<div class="form-subtitle">
					Select your username to get started
				</div>
				<div class="auth">
					<div class="auth-label">Username</div>
					<input class="auth-input" name="username" [(ngModel)]="username" required/>
					<button (click)="redirectToChat()" class="auth-button" type="submit">
						Enter
					</button>
				</div>
			</div>
		</div>
	</body>
</html>
